{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<h1>Rango Homepage</h1>
<p>{{ boldmessage }}</p>

<h2>Top Categories</h2>
{% if categories %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'rango:show_category' category.slug %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>No categories currently available.</strong>
{% endif %}

<h2>Top Pages</h2>
{% if top_pages %}
    <ul>
        {% for page in top_pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>No pages currently available.</strong>
{% endif %}
{% endblock %}
